<table width="100%" border="0" cellspacing="0" cellpadding="0">

  <tr>
    <td valign="top" class="main-bg"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" class="header-bg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="14" valign="top"></td>
              </tr>
              <tr>
                <td height="79" valign="middle"><a href="#"></a>
                  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td valign="top"><h1 style="color:#FFFFFF; font-family:Geneva, Arial, Helvetica, sans-serif;"> Pacer Admin Panel</h1></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="36" valign="middle"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="78%" align="left" valign="top" class="heading5">You are logged in as <%= current_user.email %> </td>
                    <td width="22%" align="right" valign="top" class="heading5"><%= link_to "Log out", destroy_user_session_path, method: :delete %></td>
                    <td width="0%" align="right" valign="top" class="heading5"><span class="heading1"><!--S3 Socializer V 1.0--></span><!-- | <a href="#" class="link2">Check For Updates</a> | <a href="#" class="link2">New Plugine</a> | <a href="#" class="link2">Suggestion/Ideas</a> | <a href="#" class="link2">Report Errors</a> --></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="30" valign="middle"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="37%" valign="top" class="heading1"><!--<a href="#" class="link3">Instant Overview</a> | <a href="#" class="link3">First Time User? Click Here</a> --></td>
                    <td width="63%" align="right" valign="top" class="heading1"><!--<a href="http://localhost/testing/admin/index.php" class="link3">Home</a> | <a href="#" class="link3">Preview Current Site Display</a> |--> </td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td class="height8"></td>
          </tr>
        </table></td>
      </tr>

      <tr>
        <td valign="top" class="header-img5"></td>
      </tr>