<div style="float: right" id="my_menu" class="sdmenu">
	<div>
	  <span>Admin Manager</span>
		<ul>
			<li>
				<a href="#tabs-1" title="Pacer Manager">Pacer</a>
			</li>
			<li>
				<a href="#tabs-2" title="Goaler Manager">Goaler</a>
			</li>
		</ul>
	</div>
</div>